body {
    margin: 0 auto;
    width: 50%;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.YT8xh7W_3uHfQB2nq-HExgHaHa%26pid%3DApi&f=1');
}

img {
    margin: 50px auto;
    width: 300px;
    height: auto;
    display: block;
}

.dog-buttons {
    display: flex;
    padding: 0 50px;
}

.dog-choices {
    margin: 0 auto;
}