body {
    margin: 0 auto;
    width: 50%;
}

img {
    margin: 50px auto;
    width: 300px;
    height: auto;
    display: block;
}

.dog-buttons {
    display: flex;
    padding: 0 50px;
}

.dog-choices {
    margin: 0 auto;
}